.role {
  display: none;
  width: 92%;
  height: 36px;
  padding: 2px 11px;
  border-radius: 6px;
  margin-bottom: 4px;
  background-color: rgba(128, 128, 128, 0.3);

  &.visible {
    display: block;
    animation: 0.2s linear swipper-role 0s;
  }
}

@keyframes swipper-role {
  from {
    transform: translateX(40px);
  }

  to {
    transform: translateX(0);
  }
}
